<!DOCTYPE html>
<html>
<head>
  <title>Registration Confirmation</title>
</head>
<body>
  <h1>Welcome to our application, <%= @player_profile.username %>!</h1>
  <p>Your registration was successful. Thank you for joining us.</p>
</body>
</html>
